/* Global styles 
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Geneva', sans-serif;
  margin: 0;
}
a {
    color: #d7e2e8;
}
a:hover {
    text-decoration: none;
    color: black;
}


h1, h2 {
  font-family: 'Futura', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}

.uppercase {
  text-transform: uppercase;
}

/* Download button */
.btn {
  text-decoration: none;
  background: #d7e2e8;
  color: #3b637a;
  padding: 10px;
  display: inline-block;
}
div {
    text-align: justify;
    text-justify: inter-word;
}
img{
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}
/* Header & Footer 
------------------------------------*/
header, footer {
  background: #3b637a;
  color: #8D99AE;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}


.profile-img {
 
}
.download {
  position: absolute;
  bottom: 0;
  right: 0; 

}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

 /* Navigation
-------------------------*/

/*menu buttons*/
.btn2{
  text-decoration: none;
  background: none;
  color: #3b637a;
  padding: 10px 20px;
}
.btn2-active{
  text-decoration: none;
  background: none;
  color: black;
  padding: 10px 20px;
}
nav {
  text-align: center;
  background: #EDF2F4;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
} 


/* Work Experience
------------------------------------*/
.work {
    background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 20px;
}


/* Education
------------------------------------*/
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
              url(../images/bg5.jpg) no-repeat fixed;
  background-size: cover;
}
}
p + h3  {
  margin-top: 30px;
}
/* PROJECTS
------------------------------------*/
.shop{
background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.shop-description {
  margin-bottom: 25px;
}
.shop-description p:first-of-type {
  margin-top: 20px;
}

.projects{
background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.projects-description {
  margin-bottom: 25px;
}
.projects-description p:first-of-type {
  margin-top: 20px;
}

/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
